{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center">
    <div class="card mt-5" style="width: 28rem;">
        <img src="{% static 'images/AMS_logo.png' %}" class="rounded-circle mx-auto d-block" alt="" style="max-width: 300px;">
        <div class="card-body">
            <h3 class="card-title text-center">Login</h3>
            {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-info btn-block">Login</button>
            </form>
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}